* {
  font-family: sans-serif; 
}

@font-face {
  font-family: 'press_start';
  src: url('fonts/PressStart2P-Regular.ttf');
  font-weight: 400;
  font-weight: normal;
}

@font-face {
  font-family: 'm5x7';
  src: url('fonts/m5x7.ttf');
  font-weight: 400;
  font-weight: normal;
}
   
#game {
  height: 600px;
  width: 800px;
  border: none;
}